@use "variables" as *;

.logo-nav {
  color: $color-accent-sandstone;
  font-family: $font-heading;
  font-size: $h2-size;
  line-height: $h2-line-height;
  font-weight: $h2-weight;
}

.signin-nav-button {
    background-color: $color-accent-sandstone;
    padding: 10px 24px;
    border-radius: 4px;
    color: white;
    font-family: $font-body;
    font-size: $body-medium-size;
    line-height: $body-medium-line-height;
    font-weight: $font-weight-semibold;
}

.home-content {
  padding: 1rem;
}

.home-content__heading {
  color: $color-font-dark;
  padding: 1rem;
}

.home-content__text {
  color: $color-font-dark-grey;
  font-family: $font-heading;
  font-size: $h5-size;
  line-height: $h5-line-height;
  font-weight: $h5-weight;
  max-width: 360px;
}