@use "variables" as *;

.logo-nav {
  color: $color-accent-sandstone;
  font-family: $font-heading;
  font-size: $h2-size;
  line-height: $h2-line-height;
  font-weight: $h2-weight;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.home-content__heading {
  color: $color-font-dark;
  padding: 1rem;
}

.home-content__text {
  color: $color-font-dark-grey;
  font-family: $font-heading;
  font-size: $h5-size;
  line-height: $h5-line-height;
  font-weight: $h5-weight;
  max-width: 360px;
}

.home-content__venues {
  margin: 2rem 0;
}

@media (min-width: 1184px) {
  .home-content {
    margin-top: 4rem;
  }
}